
html, body {
  height: 100%; /* necessary */
  }
  #root{
    height: 100%; /* necessary */
  }
.bg {
  /* The image used */
  background-image: url(raining.jpeg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-items: center;
}
.maintext{
  padding: 1px;
  margin: 20px;
  text-align: center;
}
.headertext{
  margin: 20px;
  text-align: center;
}
.subtext{
  text-align: center;
}
.center{
  padding: 30px;
  background-color:rgba(255,255,254,0.7);
  border-radius: 25px;
}
.bottom{
  position: absolute;
  bottom: 20px;                 /* adjust this value to move link up or down */
  left: 50%;                   /* center link horizontally */
  transform: translateX(-50%);
  color: white;

}

